@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    @apply bg-slate-900 text-slate-300 antialiased selection:bg-cyan-500/30 selection:text-cyan-200;
}

html {
    scroll-behavior: smooth !important;
}